<!-- <h1>navbar categorie</h1> -->
<form class="formCategory">
  <div>

    <div class="radio-inputs">
      <label class="radio">
        <input
          type="radio"
          name="categoria"
          id="categoria1"
          value="1"
          (change)="onSubmit(1)"
          checked
        />
        <label class="name" for="categoria1">Abbigliamento</label>
      </label>
      <label class="radio">
        <input
          type="radio"
          name="categoria"
          id="categoria2"
          (change)="onSubmit(2)"
          value="2"
        />
        <label class="name" for="categoria2">Elettronica</label>
      </label>
      <label class="radio">
        <input
          type="radio"
          name="categoria"
          id="categoria3"
          (change)="onSubmit(3)"
          value="3"
        />
        <label class="name" for="categoria3">Mobili</label>
      </label>
      <label class="radio">
        <input
          type="radio"
          name="categoria"
          id="categoria4"
          (change)="onSubmit(4)"
          value="4"
        />
        <label class="name" for="categoria4">Scarpe</label>
      </label>
      <label class="radio">
        <input
          type="radio"
          name="categoria"
          id="categoria5"
          (change)="onSubmit(5)"
          value="5"
        />
        <label class="name" for="categoria5">Varie</label>
      </label>
    </div>
  </div>
</form>
<div class="clear"></div>
<br />

<div>
  <app-card-piccola [prodotti]="prodotti"></app-card-piccola>
</div>


<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <ng-container *ngIf="totArray.length >1">

        <li class="page-item" (click)="onPageSelect(currentPage - 1)" [class.disabled]="currentPage === 1"
          *ngIf="currentPage > 1">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>


        <ng-container *ngFor="let i of totArray; index as j">
          <li class="page-item" [class.active]="currentPage === j+1"><a class="page-link"
              (click)="onPageSelect(j+1)">{{j+1}}</a></li>
        </ng-container>

        <li class="page-item" (click)="onPageSelect(currentPage + 1)" [class.disabled]="currentPage === totArray.length"
          *ngIf="currentPage < totArray.length">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ng-container>

    </ul>
  </nav>
</div>