<!-- <h1>navbar categorie</h1> -->
<form class="formCategory">
  <div> <!--
    <div class="form-check">
      <input class="form-check-input" type="radio" name="categoria" id="categoria1" value="1" (change)="onSubmit()" checked="true">
      <label class="form-check-label" for="categoria1">Abbigliamento</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="categoria" id="categoria2" value="2" (change)="onSubmit()">
      <label class="form-check-label" for="categoria2">Elettronica</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="categoria" id="categoria3" value="3" (change)="onSubmit()">
      <label class="form-check-label" for="categoria3">Mobili</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="categoria" id="categoria4" value="4" (change)="onSubmit()">
      <label class="form-check-label" for="categoria4">Scarpe</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="categoria" id="categoria5" value="5" (change)="onSubmit()">
      <label class="form-check-label" for="categoria5">Varie</label>
    </div> -->

    <div class="radio-inputs">
      <label class="radio">
        <input type="radio" name="categoria" id="categoria1" value="1" (change)="onSubmit()" checked/>
        <label class="name" for="categoria1">Abbigliamento</label>
      </label>
      <label class="radio">
        <input type="radio" name="categoria" id="categoria2" (change)="onSubmit()" value="2"/>
        <label class="name" for="categoria2">Elettronica</label>
      </label>
      <label class="radio">
        <input type="radio" name="categoria" id="categoria3" (change)="onSubmit()" value="3"/>
        <label class="name" for="categoria3">Mobili</label>
      </label>
      <label class="radio">
        <input type="radio" name="categoria" id="categoria4" (change)="onSubmit()" value="4"/>
        <label class="name" for="categoria4">Scarpe</label>
      </label>
      <label class="radio">
        <input type="radio" name="categoria" id="categoria5" (change)="onSubmit()" value="5"/>
        <label class="name" for="categoria5">Varie</label>
      </label>
    </div>
  </div>
</form>
<div class="clear"></div>
<br>  

<!--{
  "result": [
    {
      "id": 1,
      "name": "Abbigliamento",
      "image": "QkIa5tT.jpeg"
    },
    {
      "id": 2,
      "name": "Elettronica",
      "image": "ZANVnHE.jpeg"
    },
    {
      "id": 3,
      "name": "Mobili",
      "image": "Qphac99.jpeg"
    },
    {
      "id": 4,
      "name": "Scarpe",
      "image": "qNOjJje.jpeg"
    },
    {
      "id": 5,
      "name": "Varie",
      "image": "BG8J0Fj.jpg"
    }
  ],
  "totalRecordsCount": 5
}-->


<div>
  <app-card-piccola [prodotti]="prodotti"></app-card-piccola>
</div>
<!--
<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" (click)="onPageSelect(currentPage - 1)" [class.disabled]="currentPage === 1"
        *ngIf="currentPage > 1">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <ng-container *ngFor="let i of totArray; index as j">
        <li class="page-item" [class.active]="currentPage === j+1"><a class="page-link"
            (click)="onPageSelect(j+1)">{{j+1}}</a></li>
      </ng-container>


      <li class="page-item" [class.active]="currentPage === 1"><a class="page-link" (click)="onPageSelect(1)">1</a></li>
        <li class="page-item" [class.active]="currentPage === 2"><a class="page-link" (click)="onPageSelect(2)">2</a></li>
        <li class="page-item" [class.active]="currentPage === 3"><a class="page-link" (click)="onPageSelect(3)">3</a></li> 
      <li class="page-item" (click)="onPageSelect(currentPage + 1)" [class.disabled]="currentPage === totArray.length"
        *ngIf="currentPage < totArray.length">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>-->