.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 80px;
}


.form-check{
    display: flex;
    float: left;
    padding: 10px;
}

.btn_form{
    padding-left: 10px;
}