<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="row">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="row">
      <div class="search bg-dark">
        <div class="search-wrapper">
          <div class="search-dropdown-wrapper">
            <div class="dropdown">
              <div class="paste-button">
                <button class="button">Filters &nbsp; ▼</button>
                <div class="dropdown-content">
                  <!-- <a id="top" [routerLink]="['/']" (click)="closeDropdown()">All</a>
                  <a id="middle"  [routerLink]="['/ricercaCategoria']" (click)="closeDropdown()">Categories</a> -->
                  <a id="top" (click)="navigateAndClose('/')">All</a>
                  <a id="middle"  (click)="navigateAndClose('/ricercaCategoria')">Categories</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
  
<div class="collapse" id="navbarToggleExternalContent">
  <div class="scomparsa bg-dark p-4">
    <div class="input">
      <button (click)="navigateAndClose('/')" class="value">
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="#7D8590"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
          />
        </svg>
        Home
      </button>
      <button (click)="navigateAndClose('/cart')" class="value">
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="#7D8590"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"
          />
        </svg>
        Carrello
      </button>
      <button (click)="navigateAndClose('/aboutus')" class="value">
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke="#7D8590"
            stroke-linecap="round"
            stroke-width="2"
            d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
        </svg>
        About Us
      </button>
    </div>
  </div>
</div>
