<div *ngIf="prodotto">
    <hr>
    <div class="text-center">
        <h1><strong> {{ prodotto.title }}</strong></h1>

        <!-- Carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="max-width: 500px; margin: 0 auto;">
            <div class="carousel-inner">
                <div *ngFor="let image of getImmagini(prodotto); let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
                    <img [src]="image" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- End of Carousel -->
        <p><strong>Description:</strong> {{ prodotto.description }}</p>
        <p><strong>Prezzo:</strong> {{ prodotto.price | currency : 'EUR'}}</p>
        <span class="star-rating">
            <ng-container *ngFor="let star of getStars(prodotto.stars); let i = index">
              <span class="star" [ngClass]="{'checked': star === 1, 'half': star === 0.5}">&#9733;</span>
            </ng-container>
        </span>
        <p><strong>Categoria:</strong>{{ prodotto.category.name }}</p>
    </div>
    <a class="btn btn-primary" (click)="aggiungiAlCarrello()" *ngIf="!prodotto.addedToCart">Add to cart</a>
    <div class="text-success" *ngIf="prodotto.addedToCart">
        <i class="fa fa-check"></i>
    </div>
    <div class="text-danger" *ngIf="prodotto.addedToCart === false">
        <i class="fa fa-times"></i>
    </div>
</div>
