.containers {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 90%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-rating {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.star {
    color: #ddd;
    position: relative;
    display: inline-block;
}

.star.checked {
    color: #ffcc00;
}

.star.half::before {
    content: "\2605"; 
    position: absolute;
    color: #ffcc00;
    width: 50%;
    overflow: hidden;
}

