/* Stili generali */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container_prodotti {
  width: 100%;
}

.table-container {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #e3e3e3;
}

.table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.card, .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3e3e3;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  gap: 15px;
  width: 100%; /* Assicurarsi che le carte siano al 100% della larghezza del contenitore */
}

.inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  transition: border 0.3s;
}

.inputBox label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: #e3e3e3;
  padding: 0 5px;
  font-size: 12px;
  color: #000;
  transition: all 0.3s;
  pointer-events: none;
}

.inputBox input:focus + label,
.inputBox input:valid + label {
  top: -10px;
  font-size: 10px;
  color: #000;
}

.split {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.btn-action {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 1em;
  color: #000;
}

.btn-action:hover {
  background-color: #000;
  color: #fff;
}

.back {
  background-color: transparent;
  border-radius: 5px; 
}

/* Media queries per schermi più piccoli */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .form-container {
    width: 100%;
  }

  .container_prodotti {
    width: 100%;
  }

  .card, .page {
    width: 100%;
  }

  .split {
    flex-direction: column;
  }

  .inputBox input {
    font-size: 0.9em;
    padding: 8px;
  }

  .btn-action {
    width: 100%;
    font-size: 0.9em;
    padding: 12px;
  }

  .table {
    font-size: 0.9em;
  }
}
