<div class="container">
  <div class="form-container">
    <form [formGroup]="inputForm" class="payment-form">
      <div *ngIf="showfirst">
        <div class="card">
          <a class="login">Dati Utente</a>
          <div class="inputBox">
            <input type="email" formControlName="email" id="email" required />
            <label for="email">Email</label>
          </div>
          <div class="inputBox">
            <input type="text" formControlName="clientName" id="clientName" required />
            <label for="clientName">Nome Cliente</label>
          </div>
          <div class="inputBox">
            <input type="text" formControlName="address" id="address" required />
            <label for="address">Indirizzo</label>
          </div>
          <button
            type="button"
            class="btn-action"
            [disabled]="!inputForm.get('clientName')?.valid || !inputForm.get('address')?.valid || !inputForm.get('email')?.valid"
            (click)="showfirst = false">
            Procedi
          </button>
        </div>
      </div>

      <div *ngIf="!showfirst">
        <section class="card page">
          <div class="inputBox">
            <input id="paymentOwnerName" formControlName="paymentOwnerName" type="text" required />
            <label for="paymentOwnerName">Nome del Titolare</label>
          </div>
          <div class="inputBox">
            <input type="text" id="paymentNumber" formControlName="paymentNumber" required />
            <label for="paymentNumber">Numero della Carta</label>
          </div>
          <div class="split">
            <div class="inputBox">
              <input type="text" id="paymentExpire" formControlName="paymentExpire" required />
              <label for="paymentExpire">Data di Scadenza</label>
            </div>
            <div class="inputBox">
              <input type="number" id="paymentCvv" formControlName="paymentCvv" required />
              <label for="paymentCvv">CVV</label>
            </div>
          </div>
          <input
          type="button"
          class="btn-action checkout"
          (click)="onSubmit()"
          [routerLink]="['/resoconto']"
          value="Checkout"
          [disabled]="!inputForm.get('paymentOwnerName')?.valid || !inputForm.get('paymentExpire')?.valid || !inputForm.get('paymentCvv')?.valid || !inputForm.get('paymentNumber')?.valid"
        />
          <button type="button" class="btn-action back" (click)="showfirst = true">
            Indietro
          </button>
        </section>
      </div>
    </form>
  </div>

  <div class="container_prodotti">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Prodotto</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th>Quantità</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of prodotti">
            <td><img src="{{ setImage(item) }}" alt="{{ item.title }}" /></td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }} €</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
