.container {
    margin-top: 20px;
}


.table {
    border: solid #000;
}

.elimina {
    margin-top: 5px;
}



@media (max-width: 767.98px) {
    .prezzo {
        display: none;
    }
}

@media (min-width: 768px) {
    .table {
            /* width: 10px; */
    }

}