<!-- <h1>Resoconto del tuo ordine</h1>

    <div>
        <label for="totalPrice">Prezzo Totale {{totale | currency}}:</label>
    </div>

    <div> 
        <label for="clientName">Client Name: {{}}</label>
    </div>

    <div>
        <label for="address">Address:{{}} </label>
    </div>

    <div>
        <label for="paymentNumber">Payment Number: {{}}</label>
    </div>z

    <div>
        <label for="paymentOwnerName">Owner Name: {{}}</label>
    </div>

    <div>
        <label for="paymentExpire">Expire: {{}}</label>
    </div>

    <div>
        <label for="paymentCvv">CVV: {{}}</label>
    </div> -->