<div>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2>Grazie per l'Acquisto</h2>
      </div>
      <div class="card-body">
        <p>
          Grazie per aver acquistato dal nostro sito! Ricorda che saranno
          necessari alcuni minuti prima di poter processare il tuo ordine.
        </p>
        <p>
          Se hai bisogno di ulteriori informazioni, contattaci al seguente
          indirizzo:
        </p>
        <p>Tempi di spedizione: 3 - 5 giorni lavorativi</p>
      </div>
      <div class="card-footer text-end">
        <a class="btn btn-primary" href="/">Torna alla Home</a>
      </div>
    </div>
  </div>
</div>
