<div class="card-deck">
  <div class="card" style="width: 18rem;" *ngFor="let prodotto of prodotti">
    <div [routerLink]="['/card', prodotto.id]" style="cursor: pointer;">
      <div class="card-body">
        <div>
          <h5 class="card-title">{{prodotto.title}}</h5>
          <img src="{{setImage(prodotto)}}" class="img-fluid" alt="" style="width:100px;height:100px;">
          <p class="card-text">Stars: {{prodotto.stars}}</p>
          <p class="card-text">Price: {{prodotto.price | currency}}</p>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>